<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors" class="alert alert-danger">The Username or Password is invalid</div>
  <div formGroupName="account"> <!-- Combining the entire form to one group -->
        <div class="form-group">
            <label for="username">Username</label>
            <input
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
            <div *ngIf="username.pending">Checking for uniqueness...</div> <!-- .pending is for interactiveness-->
            <div *ngIf = "username.touched && username.invalid" class="alert alert-danger">
                <!--<div *ngIf = "username.errors.required">Username Required</div>
                <div *ngIf = "username.errors.minlength">Username should contain atleast {{ username.errors.minlength.requiredLength }} Charcter</div>
                <div *ngIf = "username.errors.cannotContainSpace">Username cannot contain spaces</div>
                -->
                <div *ngIf = "username.errors.shouldBeUnique">Username already taken</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
            <!-- <div *ngIf = "username.touched && username.invalid" class="alert alert-danger">Password Required</div> -->
        </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>